<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer</title>
    <style>
        .h1{
            display: flex;
            font-size: 40px;
            color: orange;
        }
    </style>
</head>
<body>
    <h1 class="h1">Thank You</h1>
    <div class="submit">
        <a href="{% url 'login' %}"><input type="submit" id="Register" class="btn btn-outline-success"  style="color:#00AAA0; font-size:20px;" value="Click Here to Login"></a>
        <!-- <button type="submit" id="button" >submit</button> -->
    </div>
</body>
</html>